.search-div{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    /* background-color: rgb(68, 68, 144); */
    margin-left: 70px;
}

.search{
    border-style: none;
    border: 0;
    outline: none;
    /* background-color: inherit; */
    color: "#fff"; 
    box-shadow: none !important;
    /* background-color: black; */
    margin-left: 10px;
}